* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helevetica, sans-serif;
}

/* Header style */
.header {
    background-color: gray;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* Flex-box container */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Equal columns next to each other */
.col {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px;
    background-color: burlywood;
    border: 2px solid black;
    margin: 5px;
}

/* Responsive layout */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}